body {
    font-family: 'Lucida Grande';
    margin: 15px;
}

h1 {
    text-align: center;
}

div {
    color: blue;
}

#comments-title {
    font-size: 28px;
}

li.super-cool {
    border: 2px;
    border-style: solid;
    border-color: red;
}

div.super-cool p {
    background-color: yellow;
}

li:hover {
    cursor: pointer;
}

#comments-title:hover::first-letter {
    font-size: 60px;
}
